@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>CẤU TRÚC ĐIỀU KIỆN CỦA RAZOR</h1>

@*IF-ELSE*@
@*<p>@DateTime.Today</p>
    <p>@DateTime.Today.DayOfWeek</p>
    <p>@DateTime.Today</p>*@
@*@if (DateTime.Today.DayOfWeek == DayOfWeek.Monday)
    {
        var today = DateTime.Today;
        if (today.Day == 1)
        {
            <i>Hôm nay là ngày đầu tháng</i>
        }
        <strong>Chúc bạn một tuần làm việc mới hiệu quả</strong>
    }
    else if (DateTime.Now.DayOfWeek == DayOfWeek.Friday)
    {
        <strong>Chúc bạn ngày cuối tuần vui vẻ</strong>

    }
    else
    {
        <strong>Chúc bạn một ngày làm việc hiệu quả</strong>
    }*@

@*SWITCH CASE*@
@*@switch (DateTime.Today.DayOfWeek)
    {
        case DayOfWeek.Monday:
            var today = DateTime.Today;
            if (today.Day == 1)
            {
                <i>Hôm nay là ngày đầu tháng</i>
            }
            <strong>Chúc bạn một tuần làm việc mới hiệu quả</strong>
            break;
        case DayOfWeek.Friday:
            <strong>Chúc bạn ngày cuối tuần vui vẻ</strong>
            break;
        default:
            <strong>Chúc bạn một ngày làm việc hiệu quả</strong>
            break;
    }*@



@*FOR*@
@{
    //var countries = new[] {
    //    "China",
    //    "India",
    //    "United States",
    //    "Indonesia",
    //    "Pakistan",
    //    "Brazil",
    //    "Nigeria",
    //    "Bangladesh",
    //    "Russia",
    //    "Mexico"
    //};
}

@*<div style="background-color:cadetblue;padding:10px;">
        <strong>Các quốc gia đông dân nhất thế giới:</strong>
        <ol>
            @for (var i = 0; i < countries.Length; i++)
            {
                var country = countries[i];
                if (country == "China" || country == "India")
                {
                    <li>@country (trên 1 tỷ dân)</li>
                }
                else
                {
                    <li>@country</li>
                }
            }
        </ol>
    </div>*@

@*FOREACH*@
@*@{
        var countries = new[] {
            "China",
            "India",
            "United States",
            "Indonesia",
            "Pakistan",
            "Brazil",
            "Nigeria",
            "Bangladesh",
            "Russia",
            "Mexico" };
    }

    <div style="background-color:cadetblue;padding:10px;">
        <strong>Các quốc gia đông dân nhất thế giới:</strong>
        <ol>
            @foreach (var country in countries)
            {
                if (country == "China" || country == "India")
                {
                    <li>@country (trên 1 tỷ dân)</li>
                }
                else
                {
                    <li>@country</li>
                }
            }
        </ol>
    </div>*@

@*TƯƠNG TỰ CHO WHILE VÀ DO WHILE*@


@*TRY-CATCH-FINALLY*@
@try
{
    throw new InvalidOperationException("You did something invalid.");
}
catch (Exception ex)
{
    <p>The exception message: @ex.Message</p>
}
finally
{
    <p>The finally statement.</p>
}